## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [4]:
# Your code here - remember to use markdown cells for comments as well!

import os,glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
folder = "/Users/ethankunin/Documents/Flatiron/Phase_1/Movie_Project1/dsc-phase-1-project/zippedData/"
os.listdir(folder)
#/Users/ethankunin/Documents/Flatiron/Phase_1/Movie_Project1/dsc-phase-1-project
#folder = "../../../Projects/dsc-phase-1-project/zippedData/"

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [6]:
f"{folder}*.csv*"

'/Users/ethankunin/Documents/Flatiron/Phase_1/Movie_Project1/dsc-phase-1-project/zippedData/*.csv*'

In [7]:
files = glob.glob(f"{folder}*.csv*")

In [8]:
files[0].replace('.csv.gz','').split('/')[-1].replace('.','_')

'imdb_title_crew'

In [9]:
tables = {}
dashes='---'*25

for file in files:
    ## Save a variable-friendly version of the file name
    table_name = file.replace('.csv.gz','').split('/')[-1].replace('.','_')
    print(dashes)
    
    ## Load and preview dataframe
    print(f"Preview of {table_name}")
    tables[table_name] = pd.read_csv(file)
    display(tables[table_name].head(5))
    print()

---------------------------------------------------------------------------
Preview of imdb_title_crew

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

---------------------------------------------------------------------------
Preview of tmdb_movies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

---------------------------------------------------------------------------
Preview of imdb_title_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

---------------------------------------------------------------------------
Preview of imdb_title_ratings

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

---------------------------------------------------------------------------
Preview of imdb_name_basics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

---------------------------------------------------------------------------
Preview of imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

---------------------------------------------------------------------------
Preview of tn_movie_budgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

---------------------------------------------------------------------------
Preview of bom_movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

---------------------------------------------------------------------------
Preview of imdb_title_principals

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

Trying to get the merge between movies and directors

In [7]:
name_titles = imdb_name_basics.merge(imdb_title_principals, how='left', on='nconst')
name_titles.head()

NameError: name 'imdb_name_basics' is not defined

In [ ]:
names_movies = imdb_title_akas.merge(name_titles, how='inner', left_on='title_id', right_on='tconst')
names_movies.head()

In [ ]:
names_movies = names_movies[names_movies['category'] == 'director']
names_movies.head()
len(names_movies)

In [ ]:
names_movies = names_movies.drop_duplicates(subset=['title', 'primary_name'])
len(names_movies)

In [ ]:
names_movies.isna().sum()

In [ ]:
budgets_direct1 = tn_movie_budgets.merge(names_movies, how='inner', left_on='movie', right_on='title')

In [ ]:
budgets_direct1.head()
budgets_direct1 = budgets_direct1.drop_duplicates(subset='movie')

In [ ]:
budgets_direct1

In [ ]:
budgets_direct1['year'] = budgets_direct1['release_date'].map(lambda x: x[-4:])

In [ ]:
budgets_direct1['year'] = budgets_direct1['year'].astype('int')

In [ ]:
budgets_direct1 = budgets_direct1[budgets_direct1['year'] > 2000]

In [ ]:
budgets_direct1 = budgets_direct1[budgets_direct1['production_budget'] > 20000000]

In [ ]:
grouped3 = budgets_direct1.groupby('primary_name')[['production_budget','domestic_gross', 'worldwide_gross']].mean()
grouped3 = grouped3[grouped3['domestic_gross']>300000000]
grouped3 = grouped3.reset_index()
grouped3.head()

In [ ]:
grouped4 = budgets_direct1.groupby('primary_name')[['production_budget','domestic_gross', 'worldwide_gross']].sum()
grouped4 = grouped4[grouped4['domestic_gross']>500000000]
grouped4 = grouped4.reset_index()
len(grouped4)

In [ ]:
fig, (ax1, ax2) = plt.subplots(figsize= (13,5), nrows=1, ncols=2)

ax1 = sns.barplot(data=grouped3, x='domestic_gross', y='primary_name', palette='flare', ax=ax1)
ax1.set_title('Top Directors by Average Domestic Gross')
ax1.set_xlabel('Domestic Gross ($ hundreds of millions)')
ax1.set_ylabel('Director')

ax2 = sns.barplot(data=grouped4, x='domestic_gross', y='primary_name', palette='flare', ax=ax2)
ax2.set_title('Top Directors by Total Domestic Gross')
ax2.set_xlabel('Domestic Gross ($ billions)')
ax2.set_ylabel('Director')



fig.tight_layout()

## Work on turning the groupby into an easy function

### quick description of each file: where I see value

imdb_title_crew - value if I can see how directors/writers are linked to movies

tmdb_movies - nothing really here, maybe genre_ids

imdb_title_akas - needed to join to IMDB base because title_id

imdb_title_ratings - not necessary

imdb_name_basics - can weed out directors/known for can use for movies and then join

imdb_title_basics - useful for runtime and genres

tn_movie_budgets - good for release date (seasons) and profit margin

bom_movie_gross - ^ is superior

imdb_title_principals - can use to figure out director/actor/producer. might be better than imdb_name_basics

In [8]:
filepath0 = files[0]
imdb_title_crew = pd.read_csv(filepath0)
imdb_title_crew.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [9]:
filepath1 = files[1]
tmdb_movies = pd.read_csv(filepath1)
tmdb_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [10]:
filepath2 = files[2]
imdb_title_akas = pd.read_csv(filepath2)
imdb_title_akas.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [11]:
filepath3 = files[3]
imdb_title_ratings = pd.read_csv(filepath3)
imdb_title_ratings.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [12]:
filepath4 = files[4]
imdb_name_basics = pd.read_csv(filepath4)
imdb_name_basics.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [13]:
filepath5 = files[5]
imdb_title_basics = pd.read_csv(filepath5)
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [10]:
filepath6 = files[6]
tn_movie_budgets = pd.read_csv(filepath6)
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [15]:
filepath7 = files[7]
bom_movie_gross = pd.read_csv(filepath7)
bom_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [16]:
filepath8 = files[8]
imdb_title_principals = pd.read_csv(filepath8)
imdb_title_principals.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [17]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

- Observe that tconst denotes an ID of the title, which links to imdb_title_principals
- Can perform inner join here to determine the actor/director of specified films
- Observe that tconst denotes ID of person, which links imdb_title_principals to imdb_name_basics

In [ ]:
# Link category (role) to primary_name (name)

role_name = imdb_title_principals.merge(imdb_name_basics, how='inner', on = 'nconst')

In [ ]:
role_name.head()

In [ ]:
# Link role_name to movie titles using t_const thru imdb_title_basics showing primary_titles

name_role_movie = role_name.merge(imdb_title_basics, on='tconst', how='left')

In [ ]:
name_role_movie.head()

In [ ]:
movie_directors = name_role_movie.loc[name_role_movie['category'] == 'director']

In [ ]:
movie_directors.loc[movie_directors['primary_name']=='James Cameron']

In [ ]:
# merge tn movie budgets to view who the director of each film is. seems to work outside of Avatar

In [ ]:
budgets_directors = tn_movie_budgets.merge(movie_directors, left_on = 'movie', right_on = 'primary_title', how='inner')

In [ ]:
budgets_directors.head(25)

In [ ]:
# # Turn Production budget, domestic gross, worldwide gross into numeric values
budgets_directors['production_budget'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:

budgets_directors['domestic_gross'] = budgets_directors['domestic_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
budgets_directors['worldwide_gross'] = budgets_directors['worldwide_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
budgets_directors.head()

In [ ]:
# # Change columns to reflect $
# budgets_directors.rename(columns={'production_budget': 'Production_Budget_$', 'domestic_gross': 'Domestic_Gross_$', 'worldwide_gross': 'WorldWide_Gross_$'}, inplace=True)

In [ ]:
# Start pulling out outliers from data set

https://www.marketwatch.com/story/netflix-reportedly-set-to-produce-90-movies-a-year-with-budgets-up-to-200-million-2018-12-16

Sweetspot between $20 million - $200 million
Will remove movies below $20 million from data set. Use this bound for analysis

In [ ]:
# budgets_directors = budgets_directors.loc[budgets_directors['Production_Budget_$'] > 20000000]

Our data-set now contains 1,634 films, all contains budgets in excess of $20 million

In [ ]:
# budgets_directors['Production_Budget_$'].head(20).sort_values().plot(kind='barh')

In [ ]:
# # Create column to represent profit-margin, which will be our indicator for success

# budgets_directors['Profit_Margin'] = budgets_directors['WorldWide_Gross_$'] / budgets_directors['Production_Budget_$']

In [ ]:
# bd_dropped = budgets_directors.drop_duplicates(subset= 'id', keep='first')

In [ ]:
# bd_dropped.release_date.unique()

In [ ]:
len(tn_movie_budgets)

In [ ]:
tn_movie_budgets.head()

In [ ]:
#Parsing through the duplicates on the movie columns are remakes. No duplicates when using movie & release date subset
tn_movie_budgets[tn_movie_budgets.duplicated(subset=['movie', 'release_date'])]

In [ ]:
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
tn_movie_budgets['domestic_gross'] = tn_movie_budgets['domestic_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
len(tn_movie_budgets)

In [ ]:
big_budget = tn_movie_budgets.loc[tn_movie_budgets['production_budget'] > 20000000]

In [ ]:
big_budget.head()

In [ ]:
big_budget_2 = big_budget.copy()

In [ ]:
big_budget_2

In [ ]:
big_budget_2['month'] = big_budget_2['release_date'].map(lambda x: x[0:3])

In [ ]:
big_budget_2

In [ ]:
month_map = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov':11, 'Dec':12}

In [ ]:
big_budget_2['month_num'] = big_budget_2['month'].map(month_map)

In [ ]:
grouped = big_budget_2.groupby('month_num')[['worldwide_gross','domestic_gross']].mean()

In [ ]:
grouped.plot(kind='bar')

In [ ]:
grouped.head()

In [ ]:
grouped['worldwide_gross']
grouped.reset_index()

In [ ]:
t_labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
grouped.plot(kind='bar')
plt.ylabel('Profit $')
plt.xlabel('Month')
plt.set_xticklabels(x)

In [ ]:
import seaborn as sns
fig, ax = plt.subplots(figsize=(10,5))
fig.set_facecolor("lightgrey")
ax = sns.barplot(x='month_num', y="worldwide_gross", data=big_budget_2, color='mediumorchid', ci=None, label='Worldwide Gross')
ax = sns.barplot(x='month_num', y="domestic_gross", data=big_budget_2, color='violet', ci=None, label= 'Domestic Gross')
ax.legend()
ax.set_xlabel('Month', color='black')
ax.set_ylabel('Worldwide Gross ($ hundreds of millions)')
ax.set_title('Movie Gross by Month')

t_labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
ax.set_xticklabels(t_labels)
#fig.savefig("/Users/ethankunin/Documents/movie_month.png")

In [ ]:
#maybe can try and figure out how to get a cleaner merge. For now move on with budgets directors

t_rt = big_budget.merge(imdb_title_basics, left_on='movie', right_on='primary_title', how='left')

t_rt.info()

In [ ]:
run_time = budgets_directors.copy()

In [ ]:
run_time.isna().sum()

In [ ]:
# Chop out low-budget (20 million) films

In [ ]:
run_time.head()

In [ ]:
run_time['production_budget'] = run_time['production_budget'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
run_time = run_time[run_time['production_budget'] > 20000000]

In [ ]:
# Find median/mean

run_time.agg({'runtime_minutes' : ['mean', 'median']})

In [ ]:
budgets_directors['runtime_minutes'] = budgets_directors['runtime_minutes'].fillna(budgets_directors['runtime_minutes'].median())

In [ ]:
budgets_directors.isna().sum()

In [ ]:
t_rt2 = run_time.merge(budgets_directors, left_on='movie', right_on='movie', how='left')
t_rt2.head()

In [ ]:
t2cols = t_rt2.columns
t2cols = ['id_x','tconst_x', 'ordering_x',
       'nconst_x', 'category_x', 'job_x', 'characters_x', 'primary_name_x',
       'birth_year_x', 'death_year_x', 'primary_profession_x',
       'known_for_titles_x', 'primary_title_x', 'original_title_x',
       'start_year_x', 'id_y',
       'release_date_y', 'production_budget_y', 'domestic_gross_y',
       'worldwide_gross_y', 'tconst_y', 'ordering_y', 'nconst_y', 'category_y',
       'job_y', 'characters_y', 'primary_name_y', 'birth_year_y',
       'death_year_y', 'primary_profession_y', 'known_for_titles_y',
       'primary_title_y', 'original_title_y', 'start_year_y', 'runtime_minutes_x']

In [ ]:
t_rt2.drop(columns= ['id_x','tconst_x', 'ordering_x',
       'nconst_x', 'category_x', 'job_x', 'characters_x', 'primary_name_x',
       'birth_year_x', 'death_year_x', 'primary_profession_x',
       'known_for_titles_x', 'primary_title_x', 'original_title_x',
       'start_year_x', 'id_y',
       'release_date_y', 'production_budget_y', 'domestic_gross_y',
       'worldwide_gross_y', 'tconst_y', 'ordering_y', 'nconst_y', 'category_y',
       'job_y', 'characters_y', 'primary_name_y', 'birth_year_y',
       'death_year_y', 'primary_profession_y', 'known_for_titles_y',
       'primary_title_y', 'original_title_y', 'start_year_y', 'runtime_minutes_x', 'genres_x'], inplace=True)

In [ ]:
t_rt2 = t_rt2.rename(columns={'release_date_x': 'release_date', 'production_budget_x': 'production_budget', 'domestic_gross_x': 'domestic_gross', 'worldwide_gross_x': 'worldwide_gross', 'runtime_minutes_y': 'runtime_minutes', 'genres_y': 'genres'})

In [ ]:
t_rt2.head()

In [ ]:
len(t_rt2)

In [ ]:
t_rt2 = t_rt2[t_rt2['production_budget'] > 20000000]

In [ ]:
t_rt2.drop_duplicates(subset=['release_date', 'movie'], keep='first', inplace=True)

Have dropped duplicates, have runtime and movie lined up, need to make a cool graph to show either linear relationship between time and worldwide gross. Must change gross to int. Possibly scatter plot grouped by 10 min intervals. Use a function to design this. Only show worldwide gross

In [ ]:
len(t_rt2)

In [ ]:
t_rt2.info()

In [ ]:
t_rt2['domestic_gross'] = t_rt2['domestic_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
t_rt2['worldwide_gross'] = t_rt2['worldwide_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
t_rt2.info()

In [ ]:
t_rt2.head()

In [ ]:
# Remove movies below 90 mins

In [ ]:
length_m = t_rt2[(t_rt2['runtime_minutes'] > 90) & (t_rt2['runtime_minutes'] < 180)]

In [ ]:
len(length_m)

In [ ]:
length_m.isna().sum()

In [ ]:
def length(mins):
    if mins < 120:
        return 'short'
    elif mins < 150:
        return 'medium'
    else:
        return 'long'

In [ ]:
length_m['duration'] = length_m['runtime_minutes'].map(length)

In [ ]:
length_m.head()

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))
ax = sns.boxplot(x='duration', y='worldwide_gross', data=length_m)
ax.set_ylim(0, 1500000000)
ax.set_title('Movie Gross Based on Duration')
ax.set_ylabel('Worldwide Gross ($ hundreds of millions)')
ax.set_xlabel('Duration')

x_labs = ['90-120 mins', '120-150 mins', '150-180 mins']
ax.set_xticklabels(x_labs)
#fig.savefig("/Users/ethankunin/Documents/box_plot_by_duration.png");

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))
ax = sns.regplot(x='runtime_minutes', y='worldwide_gross', data=length_m)

ax.set_title('Movie Gross Based on Duration')
ax.set_ylabel('Worldwide Gross ($ hundreds of millions)')
ax.set_xlabel('Minutes')
ax.axvline(x=120, color='cornflowerblue', linestyle='solid', label='short', alpha=0.5)
ax.axvline(x=150, color='cornflowerblue', linestyle='solid', label='medium', alpha=0.5)
ax.legend()
#fig.savefig("/Users/ethankunin/Documents/lin_reg_minutes.png")

;

Create graph to show seasonal success

In [ ]:
big_budget_2.info()

In [ ]:
big_budget_2.head()

In [ ]:
def seasons(month):
    if (month >= 3) & (month <= 5):
        return 'Spring'
    elif (month >= 6) & (month <=8):
        return 'Summer'
    elif (month >= 9) & (month <=11):
        return 'Fall'
    else:
        return 'Winter'
    
    
    
    
seasons(3)

In [ ]:
big_budget_2['Season'] = big_budget_2['month_num'].map(seasons)

In [ ]:
big_budget_2.head(20)

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))
ax = sns.boxplot(x='Season', y='worldwide_gross', data=big_budget_2)
ax.set_ylim(0, 700000000)
ax.set_title('Movie Gross Based on Season')
ax.set_ylabel('Worldwide Gross ($ hundreds of millions)')
ax.set_xlabel('Season')

Create dictionary of the 200 top grossing films directos

In [ ]:
budgets_directors.head()

In [ ]:
budgets_directors2 = budgets_directors.copy()

In [ ]:
budgets_directors2.head()

In [ ]:
budgets_directors2['worldwide_gross'] = budgets_directors2['worldwide_gross'].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')

In [ ]:
budgets_directors2.info()

In [ ]:
hp_dirs = budgets_directors2.loc[budgets_directors2['worldwide_gross']> 100000000]

In [ ]:
len(hp_dirs)

In [ ]:
dir_ws = hp_dirs.groupby('primary_name')['worldwide_gross'].sum()

###  Directors List (WWG > 1800000000)

In [ ]:
len(dir_ws[dir_ws > 1800000000])

### Start building out genre recommendation

In [ ]:
t_rt2.info()

In [ ]:
t_rt3 = t_rt2.copy()

In [ ]:
t_rt3.groupby('genres')['worldwide_gross'].agg(['median', 'mean'])

In [ ]:
## Testing function

In [ ]:
budgets_directors.head()

In [84]:
def col_to_int(df, colm):
    df[colm] = df[colm].map(lambda x: x.replace('$', '')).map(lambda x: x.replace(',', '')).astype('int')
    return df

In [ ]:
budgets_directors4 = budgets_directors.copy()

In [ ]:
col_to_int(budgets_directors4, 'domestic_gross')

In [ ]:
tester5 = 'Dec 18, 2009'
tester5[-4:]

In [ ]:
import matplotlib as mpl
ax.style.context('ggplot')

In [ ]:
fig, ax = plt.subplots(figsize=(8, 6))
ax = sns.boxplot(x='Season', y='worldwide_gross', data=big_budget_2)
ax.set_ylim(0, 700000000)
ax.set_title('Movie Gross Based on Season')
ax.set_ylabel('Worldwide Gross ($ hundreds of millions)')
ax.set_xlabel('Season')

In [ ]:
budgets_directors5 = budgets_directors.copy()

In [ ]:
budgets_directors5.head(2)

In [ ]:
budgets_directors5['profit'] = budgets_directors5['worldwide_gross'] - budgets_directors5['domestic_gross']

In [ ]:
budgets_directors5.head(2)

In [ ]:
def profitable(num):
    if num > 0:
        return True
    else:
        False

In [ ]:
budgets_directors5['ptf'] = budgets_directors5['profit'].map(profitable)

In [ ]:
budgets_directors5.head(2)

In [ ]:
budgets_directors5['pmarg (%)'] = (budgets_directors5['worldwide_gross'] / budgets_directors5['domestic_gross']) *100

In [ ]:
budgets_directors5.head(2)

In [ ]:
pd.to_datetime(budgets_directors5['release_date']).head()

In [ ]:
sns.lineplot(x='release_date', y='worldwide_gross', data=budgets_directors5)

In [ ]:
budgets_directors5['year'] = budgets_directors5['release_date'].map(lambda x: x[-4:])

In [ ]:
budgets_directors5.head(2)

In [ ]:
budgets_directors5['year'] = budgets_directors5['year'].astype(int)
budgets_directors5.year.unique()

In [ ]:
# Groupby month and display domestic/worlwide growth

grouped7 = budgets_directors5.groupby('year')[['domestic_gross', 'worldwide_gross']].agg('mean').reset_index()

In [ ]:
grouped7 = grouped7[grouped7['year'] > 2010]

In [ ]:
grouped7.year.unique()

In [ ]:
sns.lineplot(data='grouped7', y='domestic_gross')

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
ax.plot(grouped7['year'], grouped7['worldwide_gross'], label='WW Gross')
ax.plot(grouped7['year'], grouped7['domestic_gross'], label='D Gross')
ax.set_xticks(grouped7['year'])
ax.ticklabel_format(style='plain')
ax.legend()

# Appendix, trying to webscrape

In [48]:
tn_movie_budgets.columns
import requests
from bs4 import BeautifulSoup
import pandas

In [49]:


url = 'https://www.filmsite.org/series-boxoffice.html'
dfs = pd.read_html(url)
df = pd.concat(dfs)
df.drop(columns=[0,1,5], inplace=True)
df = df.rename(columns={2: 'series_list', 3:'number_of_films_in_franchise', 4:'top_movie'})
some_list = df['series_list'][3].split(')')
some_list

['Pixar-Disney Animations *  Toy Story (1995',
 "  A Bug's Life (1998",
 '  Toy Story 2 (1999',
 '  Monsters, Inc. (2001',
 '  Finding Nemo (2003',
 '  The Incredibles (2004',
 '  Cars (2006',
 '  Ratatouille (2007',
 '  WALL-E (2008',
 '  Up (2009',
 '  Toy Story 3 (2010',
 '  Cars 2 (2011',
 '  Brave (2012',
 '  Monsters University (2013',
 '  Inside Out (2015',
 '  The Good Dinosaur (2015',
 '  Finding Dory (2016',
 '  Cars 3 (2017',
 '  Coco (2017',
 '  Incredibles 2 (2018',
 '  Toy Story 4 (2019',
 '  Onward (2020',
 '  Soul (2020',
 '  (* Is it a brand and/or a franchise?',
 '']

In [107]:
ls = [' movie1  ', 'movie2', 'movie3']

def blah(movie):
    for s in ls:
        if movie in s:
            print(True)
        else:
            print(False)



blah('movie1')

True
False
False

In [109]:
text = 'MyMovie (1998)'
sep = '('
stripped = text.split(sep, 1)[0]
print(stripped)

MyMovie

In [50]:
df['series_list'][3]

"Pixar-Disney Animations *  Toy Story (1995)  A Bug's Life (1998)  Toy Story 2 (1999)  Monsters, Inc. (2001)  Finding Nemo (2003)  The Incredibles (2004)  Cars (2006)  Ratatouille (2007)  WALL-E (2008)  Up (2009)  Toy Story 3 (2010)  Cars 2 (2011)  Brave (2012)  Monsters University (2013)  Inside Out (2015)  The Good Dinosaur (2015)  Finding Dory (2016)  Cars 3 (2017)  Coco (2017)  Incredibles 2 (2018)  Toy Story 4 (2019)  Onward (2020)  Soul (2020)  (* Is it a brand and/or a franchise?)"

In [51]:
def franchise_splitter(df, col):
    
    output = []
    for i in range(len(df)):
        some_list = df[col][i].split(')') 
        for item in some_list:
            item2=item[2:]
            item3=item2[:-6]
            output.append(item3)
    
    return output

In [52]:
df1 = df.copy()
df1

,series_list,number_of_films_in_franchise,top_movie
0,NaN,NaN,NaN
0,NaN,NaN,NaN
0,"Greatest Film Series Franchises (part 1 of 4,...","Greatest Film Series Franchises (part 1 of 4,...","Greatest Film Series Franchises (part 1 of 4,..."
1,"Individual Films in Franchise (if clickable, ...",# of Films in Franchise,# 1 Film in Franchise
2,Marvel's Cinematic Universe Iron Man (2008) ...,23,Avengers: Endgame (2019)
3,Pixar-Disney Animations * Toy Story (1995) A...,23,Incredibles 2 (2018)
4,Star Wars (Ranked) Star Wars: (Original Trilo...,12,Star Wars: Episode VII - The Force Awakens (2015)
5,Disney (Live-Action Animations Reimagined) Th...,15,The Lion King (2019)
6,J.K. Rowling Wizardry Harry Potter Harry Pott...,10 (or 8),"Harry Potter and the Deathly Hallows, Part 2 (..."
7,Avengers (see Marvel's Cinematic Universe) M...,4,Avengers: Endgame (2019)
8,Spider-Man Spider-Man (Sam Raimi) Spider-Man (...,9,Spider-Man (2002)
9,X-Men X-Men (Original Series) X-Men (2000) X...,12,Deadpool (2016)
10,Batman Batman (Early Films) Batman: The Movie...,11,The Dark Knight (2008)
11,DC Extended Universe Man of Steel (2013) B...,8,Wonder Woman (2017)
12,James Bond (ranked) Dr. No (1962) From Russia...,25,Skyfall (2012)
13,Jurassic Park Jurassic Park Jurassic Park (19...,5,Jurassic World (2015)
14,Middle Earth The Lord of the Rings The Lord o...,6,The Lord of the Rings: The Return of the King ...
15,Fast and the Furious The Fast and the Furious...,9,Fast & Furious 7 (2015)
16,Transformers Transformers: The Movie (1986) ...,7,Transformers: Revenge of the Fallen (2009)
17,Pirates of the Caribbean Pirates of the Carib...,5,Pirates of the Caribbean: Dead Man's Chest (2006)
18,The Hunger Games The Hunger Games (2012) The...,4,The Hunger Games: Catching Fire (2013)
19,Shrek (Original and Sequels) Shrek (2001) Shr...,5,Shrek 2 (2004)
20,Star Trek Star Trek (Original) Star Trek: The ...,13,Star Trek (2009)
21,Twilight Saga Twilight (2008) The Twilight S...,5,The Twilight Saga: Eclipse (2010)
22,Toy Story (see Pixar-Disney) Toy Story (1995)...,4,Toy Story 4 (2019)
23,Despicable Me Despicable Me Despicable Me (2...,4,Despicable Me 2 (2013)
24,The Dark Knight Trilogy (see Batman) Batman B...,3,The Dark Knight (2008)
25,Mission: Impossible Mission: Impossible (1996...,6,Mission: Impossible - Fallout (2018)
26,Superman Superman (Original) Superman (1978) ...,7,Batman v Superman: Dawn of Justice (2016)
27,Iron Man (see Marvel's Cinematic Universe) Iro...,3,Iron Man 3 (2013)
28,The Lord of the Rings Trilogy (see Middle Eart...,3,The Lord of the Rings: The Return of the King ...
29,Indiana Jones Raiders of the Lost Ark (1981) ...,4,Indiana Jones and the Kingdom of the Crystal S...
30,Captain America (see Marvel's Cinematic Univ...,3,Captain America: Civil War (2016)
31,Jumanji Jumanji (1995) Jumanji: Welcome to t...,3,Jumanji: Welcome to the Jungle (2017)
32,The Hobbit (see The Lord of the Rings) The Ho...,3,The Hobbit: An Unexpected Journey (2012)
33,Bourne The Bourne Identity (2002) The Bourne...,5,The Bourne Ultimatum (2007)
34,Planet of the Apes Planet of the Apes (Origin...,9,Dawn of the Planet of the Apes (2014)
35,Ice Age Ice Age (2002) Ice Age: The Meltdown...,5,Ice Age 3: Dawn of the Dinosaurs (2009)
36,Rocky Rocky (1976) Rocky II (1979) Rocky II...,8,Rocky IV (1985)
0,NaN,NaN,NaN

In [53]:
df1 = df1.dropna()

In [54]:
df1.head(4)

,series_list,number_of_films_in_franchise,top_movie
0,"Greatest Film Series Franchises (part 1 of 4,...","Greatest Film Series Franchises (part 1 of 4,...","Greatest Film Series Franchises (part 1 of 4,..."
1,"Individual Films in Franchise (if clickable, ...",# of Films in Franchise,# 1 Film in Franchise
2,Marvel's Cinematic Universe Iron Man (2008) ...,23,Avengers: Endgame (2019)
3,Pixar-Disney Animations * Toy Story (1995) A...,23,Incredibles 2 (2018)

In [55]:
page1 = franchise_splitter(df1, 'series_list')

In [56]:
page1

['eatest Film Series Franchises  (part 1 of 4, above $750 million total revenue, in  descending',
 '',
 'dividual Films in Franchise  (if clickable, links to r',
 '',
 "rvel's Cinematic  Universe  Iron Man",
 'The Incredible Hulk',
 'Iron Man 2',
 'Thor',
 'Captain America: The First Avenger',
 "Marvel's The Avengers",
 'Iron Man 3',
 'hor: The Dark World',
 'aptain America: The Winter Soldier',
 'Guardians of the Galaxy',
 'Avengers: Age of Ultron',
 'Ant-Man',
 'Captain America: Civil War',
 'Doctor Strange',
 'Guardians of the Galaxy Vol. 2',
 'Spider-Man: Homecoming',
 'Thor: Ragnarok',
 'Black Panther',
 'Avengers: Infinity War',
 'Ant-Man and the Wasp',
 'Captain Marvel',
 'Avengers: Endgame',
 'Spider-Man: Far from Home',
 '',
 'xar-Disney Animations *  Toy Story',
 "A Bug's Life",
 'Toy Story 2',
 'Monsters, Inc.',
 'Finding Nemo',
 'The Incredibles',
 'Cars',
 'Ratatouille',
 'WALL-E',
 'Up',
 'Toy Story 3',
 'Cars 2',
 'Brave',
 'Monsters University',
 'Inside Out',
 'The Good Dinosaur',
 'Finding Dory',
 'Cars 3',
 'Coco',
 'Incredibles 2',
 'Toy Story 4',
 'Onward',
 'Soul',
 '(* Is it a brand and/or a fran',
 '',
 'ar Wars  (',
 'tar Wars: (Original T',
 'tar Wars: Episode IV -  A New Hope',
 'Star Wars: Episode V - The  Empire Strikes Back',
 'Star Wars: Episode VI - Return  of the Jedi',
 'Star Wars: (Prequel T',
 'tar Wars: Episode I - The Phantom  Menace',
 'Star Wars: Episode II - Attack  of the Clones',
 'Star Wars: Episode III - Revenge  of the Sith',
 'Star Wars: (Sequel T',
 'tar Wars: Episode VII  - The Force Awakens',
 'Star Wars: Episode VIII -  The Last Jedi',
 'Star Wars: Episode IX - The Rise of Skywalker',
 'tar Wars: (Anthology Films and Spi',
 'tar Wars: The Clone Wars',
 'Rogue One: A Star Wars Story ',
 'Solo: A Star Wars Story',
 'does not include re-re',
 '',
 'sney (Live-Action Animations Reim',
 'The Jungle Book The Jungle Book',
 'The Jungle Book',
 '101 Dalmatians 101 Dalmatians',
 '102 Dalmatians',
 'lice in Wonderland Alice in Wonderland',
 'Alice Through the Looking Glass',
 'Maleficent  Maleficent',
 'Maleficent: Mistress of Evil',
 'z the Great and Powerful',
 'Cinderella',
 "ete's Dragon",
 'eauty and the Beast',
 'Dumbo',
 'Aladdin',
 'The Lion King',
 '',
 "K. Rowling Wizardry Harry Potter  Harry Potter and the Sorcerer's  Stone",
 'Harry Potter and the Chamber  of Secrets',
 'Harry Potter and the  Prisoner of Azkaban',
 'Harry Potter and  the Goblet of Fire',
 'Harry Potter  and the Order of the Phoenix',
 'Harry  Potter and the Half-Blood Prince',
 'Harry  Potter and the Deathly Hallows, Part  1',
 'Harry  Potter and the Deathly Hallows, Part  2',
 'Fantastic Beasts Fantastic Beasts and Where to Find  Them',
 'Fantastic Beasts: The Crimes of Grindelwald ',
 '',
 "engers  (see Marvel's Cinematic Un",
 "Marvel's The Avengers",
 'Avengers: Age of Ultron',
 'Avengers: Infinity War',
 'Avengers: Endgame',
 '',
 'ider-Man Spider-Man (Sam',
 'pider-Man',
 'Spider-Man 2',
 'Spider-Man 3',
 'Spider-Man (Mar',
 'he Amazing Spider-Man',
 'he Amazing Spider-Man  2',
 "Spider-Man  (see Marvel's Cinematic  Un",
 'Spider-Man:  Homecoming',
 'pider-Man: Far From Home ',
 'pider-Verse  (An',
 'pider-Man: Into the Spider-Verse ',
 '',
 'Men  X-Men (Original ',
 '-Men',
 'X2: X-Men United',
 'X-Men: The Last Stand',
 'X-Men: First Class',
 'X-Men: Days of Future Past',
 'X-Men: Apocalypse',
 '-Men (Wolverine & Phoenix Spi',
 '-Men Origins: Wolverine',
 'The Wolverine',
 'Logan',
 'X-Men Dark Phoenix',
 '-Men (Deadpool Spi',
 'eadpool',
 'Deadpool 2',
 '',
 'tman  Batman (Early',
 'atman: The Movie',
 'Batman (Burton/Schu',
 'atman',
 'Batman Returns',
 'Batman Forever',
 'Batman & Robin',
 'Batman (An',
 'atman: Mask of the Phantasm',
 'atman: The Killing Joke',
 'The LEGO Batman Movie',
 'atman (The Dark Knight T',
 'atman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 'Batman  (see DC  Extended Un',
 'Batman v Superman: Dawn  of Justice',
 '',
 ' Extended  Universe  Man of Steel ',
 'Batman v Superman:  Dawn of Justice',
 'Suicide Squad',
 'Wonder Woman',
 'Justice League',
 'Aquaman',
 'Shazam!',
 'Birds of Prey: And the Fantabulous Emancipation of One Harley  Quinn',
 '',
 'mes Bond (',
 'r. No',
 'From Russia With Love',
 'Goldfinger',
 'Thunderball',
 'You Only Live Twice',
 "On Her Majesty's Secret Service",
 'Diamonds Are Forever',
 'Live and Let Die',
 'The Man with the Golden Gun',
 'The Spy Who Loved Me',
 'Moonraker',
 'For Your Eyes Only',
 'Octopussy',
 'A View to a Kill',
 'The Living Daylights',
 'Licence to Kill',
 'GoldenEye',
 'Tomorrow Never Dies',
 'The World is Not Enough',
 'Die Another Day',
 'Casino Royale',
 'Quantum of Solace, 007',
 'Skyfall',
 'pectre',
 'o Time to Die',
 '',
 'on-Canon Films: Casino Royale',
 'ever Say Never Again',
 '',
 '',
 'rassic Park  Jurassic Park Jurassic Park',
 'The Lost World: Jurassic Park',
 'Jurassic Park III',
 'Sequel Trilogy Jurassic World',
 'Jurassic World: Fallen Kingdom',
 '',
 'ddle Earth  The Lord of the Rings The Lord of the Rings: The  Fellowship of the Ring',
 'The Lord of the  Rings: The Two Towers',
 'The Lord of  the Rings: The Return of the King',
 'The Hobbit The Hobbit: An Unexpected Journey ',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'st and the Furious  The Fast and the Furious',
 '2 Fast 2 Furious',
 'The Fast and the Furious: Tokyo Drift',
 'Fast & Furious',
 'Fast Five',
 'Fast & Furious 6',
 'Fast & Furious 7',
 'aka Fur',
 'The Fate of the Furious',
 'Fast & Furious Presents: Hobbs & Shaw',
 '',
 'ansformers  Transformers: The Movie',
 'Transformers',
 'Transformers: Revenge of the Fallen',
 'Transformers: Dark of the Moon',
 'Transformers: Age of Extinction',
 'Transformers: The Last Knight',
 'Bumblebee',
 '',
 'rates of the Caribbean  Pirates of the Caribbean:  The Curse of the Black Pearl',
 "Pirates of the Caribbean:  Dead Man's Chest",
 "Pirates of the  Caribbean: At World's End",
 'Pirates of  the Caribbean: On Stranger Tides',
 'Pirates  of the Caribbean: Dead Men Tell No Tales',
 '',
 'e Hunger Games  The Hunger Games',
 'The Hunger Games: Catching Fire',
 'The Hunger Games: Mockingjay - Part 1',
 'The Hunger Games: Mockingjay - Part 2',
 '',
 'rek (Original and S',
 'hrek',
 'Shrek 2',
 'Shrek the Third',
 'Shrek Forever After',
 'Shrek (Sp',
 'uss in Boots',
 '',
 'ar Trek Star Trek (Or',
 'tar Trek: The Motion Picture',
 'Star Trek II: The Wrath of Khan',
 'Star Trek III: The Search for Spock ',
 'Star Trek IV: The Voyage Home ',
 'Star Trek V: The Final  Frontier',
 'Star Trek VI: The  Undiscovered Country',
 'Star Trek (Next Gene',
 'Star Trek: Generations ',
 'Star Trek: First  Contact',
 'Star Trek: Insurrection ',
 'Star Trek Nemesis ',
 'Star Trek (',
 'Star Trek',
 'Star Trek Into Darkness ',
 'tar  Trek Beyond',
 '',
 'ilight Saga  Twilight',
 'The Twilight Saga: New Moon',
 'The Twilight Saga: Eclipse',
 'The Twilight Saga: Breaking Dawn, Part 1',
 'The Twilight Saga: Breaking Dawn, Part 2',
 '',
 'y Story  (see Pixar-',
 'oy Story',
 'Toy Story 2',
 'Toy Story 3',
 'Toy Story 4',
 '',
 'spicable Me  Despicable Me  Despicable Me',
 'Despicable Me 2',
 'Despicable Me 3',
 'inions  Minions',
 '',
 'e Dark Knight Trilogy (see ',
 'Batman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 '',
 'ssion: Impossible  Mission: Impossible',
 'Mission: Impossible II',
 'Mission: Impossible III',
 'Mission: Impossible - Ghost  Protocol',
 'Mission: Impossible - Rogue Nation',
 'Mission: Impossible - Fallout',
 '',
 'perman  Superman (Or',
 'uperman',
 'Superman II',
 'Superman III',
 'Superman IV: The Quest for Peace ',
 'Superman (Homage ',
 'uperman Returns',
 'Superman (see DC Extended  Un',
 'an of Steel',
 'Batman v Superman:  Dawn of Justice',
 '',
 "on Man (see Marvel's Cinematic Un",
 'ron Man',
 'Iron Man 2',
 'Iron Man 3',
 '',
 'e Lord of the Rings Trilogy (see Middle',
 'The Lord of the Rings',
 '(Not Included in ',
 'he Lord of the Rings:  The Fellowship of the Ring',
 'The Lord of the Rings:  The Two Towers',
 'The Lord of the Rings:  The Return of the King',
 '',
 'diana Jones  Raiders of the Lost Ark',
 'Indiana Jones and the Temple of  Doom',
 'Indiana Jones and the Last  Crusade',
 'Indiana Jones and the Kingdom  of the Crystal Skull',
 '',
 "ptain America  (see Marvel's  Cinematic Un",
 'Captain America: The First Avenger',
 'aptain America: The Winter Soldier',
 'aptain America: Civil War',
 '',
 'manji  Jumanji',
 'Jumanji: Welcome to the Jungle',
 'Jumanji: The Next Level',
 '',
 'e Hobbit (see The Lord of the',
 'he  Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'urne  The Bourne Identity',
 'The Bourne Supremacy',
 'The Bourne Ultimatum',
 'The Bourne Legacy',
 'ason Bourne',
 '',
 'anet of the Apes  Planet of the Apes (Or',
 'lanet of the Apes',
 'Beneath the Planet of the Apes ',
 'Escape from the Planet  of the Apes',
 'Conquest of the Planet  of the Apes',
 'Battle for the  Planet of the Apes',
 'Planet of the Apes (',
 'lanet  of the Apes',
 'Planet of the Apes (',
 'ise  of the Planet of the Apes',
 'awn  of the Planet of the Apes',
 'War  for the Planet of the Apes',
 '',
 'e Age  Ice Age',
 'Ice Age: The Meltdown',
 'Ice Age 3: Dawn of the Dinosaurs',
 'ce Age: Continental Drift',
 'ce Age: Collision Course',
 '',
 'cky  Rocky',
 'Rocky II',
 'Rocky III',
 'Rocky IV',
 'Rocky V',
 'Rocky Balboa',
 'reed',
 'Creed II',
 '']

In [57]:
#use total domestic rev of movie 12+

url2 = 'https://www.filmsite.org/series-boxoffice2.html'
url3 = 'https://www.filmsite.org/series-boxoffice3.html'
url4 = 'https://www.filmsite.org/series-boxoffice4.html'

df8 = pd.read_html(url2)
df8 = pd.concat(df2)
df8.drop(columns=[0,1,5], inplace=True)
df8 = df8.rename(columns={2: 'series_list', 3:'number_of_films_in_franchise', 4:'top_movie'})

NameError: name 'df2' is not defined

In [58]:
df5 = df5.drop([0, 1])

NameError: name 'df5' is not defined

In [59]:
df2

NameError: name 'df2' is not defined

In [60]:
df3 = pd.read_html(url3)
df3 = pd.concat(df3)
df3.drop(columns=[0,1,5], inplace=True)
df3 = df3.rename(columns={2: 'series_list', 3:'number_of_films_in_franchise', 4:'top_movie'})

In [61]:
df3 = df3.drop([0, 1])

In [62]:
df3

,series_list,number_of_films_in_franchise,top_movie
2,National Treasure National Treasure (2004) N...,2,National Treasure: Book of Secrets (2007)
3,Robert Langdon (or DaVinci Code) The DaVinci ...,3,The DaVinci Code (2006)
4,Fifty Shades Fifty Shades of Grey (2015) Fif...,3,Fifty Shades of Grey (2015)
5,Friday the 13th Friday the 13th (1980) Friday ...,12,"Freddy vs. Jason (2003) (aka Friday the 13th,..."
6,Taken Taken (2009) Taken 2 (2012) Taken 3 (...,3,Taken (2009)
7,A Nightmare on Elm Street A Nightmare on Elm ...,9,Freddy vs. Jason (2003)
8,The Santa Clause The Santa Clause (1994) The ...,3,The Santa Clause (1994)
9,Jackass Jackass: The Movie (2002) Jackass: N...,4,Jack-Ass 3-D (2010)
10,Pitch Perfect Pitch Perfect (2012) Pitch Per...,3,Pitch Perfect 2 (2015)
11,Spy Kids Spy Kids (2001) Spy Kids 2: The Isl...,4,Spy Kids (2001)
12,Divergent Divergent (2014) Insurgent (2015) ...,3,Divergent (2014)
13,Unbreakable Unbreakable (2000) Split (2016) ...,3,Split (2016)
14,Fantastic Four Fantastic Four (2005) Fantast...,3,Fantastic Four (2005)
15,The Muppets The Muppet Movie (1979) The Grea...,8,The Muppets (2011)
16,Rambo First Blood (1982) Rambo: First Blood ...,5,Rambo: First Blood Part II (1985)
17,Scream Scream (1996) Scream 2 (1997) Scream 3...,4,Scream (1996)
18,The Exorcist The Exorcist (1973) Exorcist II...,6,The Exorcist (1973)
19,21 Jump Street 21 Jump Street (2012) 22 Jump...,2,22 Jump Street (2014)
20,Predator Predator (Original) Predator (1987) ...,6,Alien Vs. Predator (2004)
21,Crocodile Dundee Crocodile Dundee (1986) Croc...,3,Crocodile Dundee (1986)
22,John Wick John Wick (2014) John Wick: Chapte...,3,John Wick: Chapter 3 - Parabellum (2019)
23,My Big Fat Greek Wedding My Big Fat Greek Wed...,2,My Big Fat Greek Wedding (2002)
24,The Wizard of Oz The Wizard of Oz (1939) The...,4,Oz The Great and Powerful (2013)
25,"Pokemon Pokemon: The First Movie (1999, Jp./U...",6,Pokemon Detective Pikachu (2019)
26,The Purge The Purge (2013) The Purge: Anarch...,4,The Purge: Election Year (2016)
27,The Pink Panther The Pink Panther (Original) ...,10,The Pink Panther (2006)
28,Vacation Vacation (Original) (National Lampoo...,5,(National Lampoon's) Christmas Vacation (1989)
29,G.I. Joe G.I. Joe: The Rise of Cobra (2009) ...,2,G.I. Joe: The Rise of Cobra (2009)
30,Resident Evil Resident Evil (2002) Resident ...,6,Resident Evil: Afterlife (2010)
31,The Smurfs The Smurfs and the Magic Flute (19...,4,The Smurfs (2011)
32,The Hulk (see Marvel's Cinematic Universe) Hu...,2,The Incredible Hulk (2008)
33,Final Destination Final Destination (2000) F...,5,The Final Destination (2009)
34,Annabelle (see The Conjuring) Annabelle (201...,3,Annabelle: Creation (2017)
35,Insidious Insidious (2010) Insidious: Chapte...,4,Insidious: Chapter 2 (2013)
36,Underworld Underworld (2003) Underworld: Evo...,6,Underworld Awakening (2012)
37,SpongeBob The SpongeBob SquarePants Movie (20...,2,The SpongeBob Movie: Sponge Out of Water (2015)
38,The Godfather The Godfather (1972) The Godfa...,3,The Godfather (1972)
39,Maze Runner The Maze Runner (2014) Maze Runn...,3,The Maze Runner (2014)
40,Dumb and Dumber Dumb and Dumber (Original) Du...,3,Dumb & Dumber (1994)
41,Police Academy Police Academy (1984) Police ...,7,Police Academy (1984)
42,Scooby-Doo Scooby-Doo (2002) Scooby-Doo 2: M...,2,Scooby-Doo (2002)
43,Ring (US) Ring The Ring (2002) The Ring Two (...,3,The Ring (2002)
44,Barbershop Barbershop (2002) Barbershop 2: B...,4,Barbershop (2002)
45,Fallen Olympus Has Fallen (2013) London Has ...,3,Olympus Has Fallen (2013)
46,Dirty Harry Dirty Harry (1971) Magnum Force ...,5,Sudden Impact (1983)
47,The Expendables The Expendables (2010) The E...,3,The Expendables (2010)
48,Big Momma Big Momma's House (2000) Big Momma...,3,Big Momma's House (2000)
49,Billy Jack The Born Losers (1967) Billy Jack ...,5,Billy Jack (1971)
50,"Mad Max Mad Max (Original) Mad Max (1979, Aus...",4,Mad Max: Fury Road (2015)
51,The Naked Gun The Naked Gun: From the Files o...,3,The Naked Gun 2 1/2: The Smell of Fear (1991)
52,Rugrats The Rugrats Movie (1998) Rugrats in ...,3,The Rugrats Movie (1998)
53,Step Up Step Up (2006) Step Up 2 the Streets...,5,Step Up (2006)
54,xXx Trilogy XXX (2002) XXX: State of the Uni...,3,xXx (2002) (aka Triple X)
55,Winnie the Pooh The Many Adventures of Winnie...,6,Disney's Christopher Robin (2018)
56,Blade Blade (1998) Blade II (2002) Blade: T...,3,Blade II (2002)
57,Herbie the Love Bug The Love Bug (1969) Herb...,5,Herbie: Fully Loaded (2005)

In [63]:
df4 = pd.read_html(url4)
df4 = pd.concat(df4)
df4.drop(columns=[0,1,5], inplace=True)
df4 = df4.rename(columns={2: 'series_list', 3:'number_of_films_in_franchise', 4:'top_movie'})

In [64]:
df4 = df4.drop([0, 1])

In [65]:
df4

,series_list,number_of_films_in_franchise,top_movie
2,Texas Chainsaw Massacre The Texas Chain Saw M...,7,The Texas Chainsaw Massacre (2003)
3,Smokey and the Bandit Smokey and the Bandit (...,3,Smokey and the Bandit (1977)
4,Look Who's Talking Look Who's Talking (1989) ...,3,Look Who's Talking (1989)
5,Garry Marshall's Holiday-Themed Series Valent...,3,Valentine's Day (2010)
6,Airport Airport (1970) Airport 1975 (1974) ...,4,Airport (1970)
...,...,...,...
76,Dhoom Dhoom (2004) Dhoom 2 (2006) Dhoom 3 (2013),3,Dhoom 3 (2013)
77,Atlas Shrugged Atlas Shrugged (2011) Atlas Sh...,3,Atlas Shrugged (2011)
78,Trois Couleurs (Three Colors) Trois Couleurs:...,3,"Trois Couleurs: Rouge (1994, Fr./Pol./Switz.) ..."
79,The Trip The Trip (2010) The Trip to Italy (...,3,The Trip to Italy (2014)
80,Ip Man (Original) Ip Man (2008) Ip Man (Sequ...,?,"Ip Man 3 (2015/16, HK/China)"

In [ ]:
page4 = franchise_splitter(df4, 'series_list')

In [ ]:
# def franchise_splitter(df, col):
    
#     output = []
#     for i in range(2, len(df)):
#         some_list = df[col][i].split(')') 
#         for item in some_list:
#             item2=item[2:]
#             item3=item2[:-6]
#             output.append(item3)
    
#     return output

In [66]:
df4

,series_list,number_of_films_in_franchise,top_movie
2,Texas Chainsaw Massacre The Texas Chain Saw M...,7,The Texas Chainsaw Massacre (2003)
3,Smokey and the Bandit Smokey and the Bandit (...,3,Smokey and the Bandit (1977)
4,Look Who's Talking Look Who's Talking (1989) ...,3,Look Who's Talking (1989)
5,Garry Marshall's Holiday-Themed Series Valent...,3,Valentine's Day (2010)
6,Airport Airport (1970) Airport 1975 (1974) ...,4,Airport (1970)
...,...,...,...
76,Dhoom Dhoom (2004) Dhoom 2 (2006) Dhoom 3 (2013),3,Dhoom 3 (2013)
77,Atlas Shrugged Atlas Shrugged (2011) Atlas Sh...,3,Atlas Shrugged (2011)
78,Trois Couleurs (Three Colors) Trois Couleurs:...,3,"Trois Couleurs: Rouge (1994, Fr./Pol./Switz.) ..."
79,The Trip The Trip (2010) The Trip to Italy (...,3,The Trip to Italy (2014)
80,Ip Man (Original) Ip Man (2008) Ip Man (Sequ...,?,"Ip Man 3 (2015/16, HK/China)"

In [76]:
page4

NameError: name 'page4' is not defined

In [77]:
page3 = franchise_splitter(df3, 'series_list')

KeyError: 0

In [78]:
page3

NameError: name 'page3' is not defined

In [79]:
page2 = franchise_splitter(df5, 'series_list')

NameError: name 'df5' is not defined

In [80]:
df5.info()

NameError: name 'df5' is not defined

In [81]:
all_pages = page1 + page2 + page3 +page4

NameError: name 'page2' is not defined

In [82]:
all_pages

NameError: name 'all_pages' is not defined

In [83]:

df8 = pd.read_html(url2)
df8 = pd.concat(df8)
df8.drop(columns=[0,1,5], inplace=True)
df8 = df8.rename(columns={2: 'series_list', 3:'number_of_films_in_franchise', 4:'top_movie'})

In [84]:
df8 = df8.drop([0, 1])

In [85]:
def franchise_splitter(df, col):
    
    output = []
    for i in range(len(df)):
        some_list = df[col][i].split(')') 
        for item in some_list:
            item2=item[2:]
            item3=item2[:-6]
            output.append(item3)
    
    return output

In [86]:
page2 = franchise_splitter(df8, 'series_list')

KeyError: 0

In [87]:
page1

['eatest Film Series Franchises  (part 1 of 4, above $750 million total revenue, in  descending',
 '',
 'dividual Films in Franchise  (if clickable, links to r',
 '',
 "rvel's Cinematic  Universe  Iron Man",
 'The Incredible Hulk',
 'Iron Man 2',
 'Thor',
 'Captain America: The First Avenger',
 "Marvel's The Avengers",
 'Iron Man 3',
 'hor: The Dark World',
 'aptain America: The Winter Soldier',
 'Guardians of the Galaxy',
 'Avengers: Age of Ultron',
 'Ant-Man',
 'Captain America: Civil War',
 'Doctor Strange',
 'Guardians of the Galaxy Vol. 2',
 'Spider-Man: Homecoming',
 'Thor: Ragnarok',
 'Black Panther',
 'Avengers: Infinity War',
 'Ant-Man and the Wasp',
 'Captain Marvel',
 'Avengers: Endgame',
 'Spider-Man: Far from Home',
 '',
 'xar-Disney Animations *  Toy Story',
 "A Bug's Life",
 'Toy Story 2',
 'Monsters, Inc.',
 'Finding Nemo',
 'The Incredibles',
 'Cars',
 'Ratatouille',
 'WALL-E',
 'Up',
 'Toy Story 3',
 'Cars 2',
 'Brave',
 'Monsters University',
 'Inside Out',
 'The Good Dinosaur',
 'Finding Dory',
 'Cars 3',
 'Coco',
 'Incredibles 2',
 'Toy Story 4',
 'Onward',
 'Soul',
 '(* Is it a brand and/or a fran',
 '',
 'ar Wars  (',
 'tar Wars: (Original T',
 'tar Wars: Episode IV -  A New Hope',
 'Star Wars: Episode V - The  Empire Strikes Back',
 'Star Wars: Episode VI - Return  of the Jedi',
 'Star Wars: (Prequel T',
 'tar Wars: Episode I - The Phantom  Menace',
 'Star Wars: Episode II - Attack  of the Clones',
 'Star Wars: Episode III - Revenge  of the Sith',
 'Star Wars: (Sequel T',
 'tar Wars: Episode VII  - The Force Awakens',
 'Star Wars: Episode VIII -  The Last Jedi',
 'Star Wars: Episode IX - The Rise of Skywalker',
 'tar Wars: (Anthology Films and Spi',
 'tar Wars: The Clone Wars',
 'Rogue One: A Star Wars Story ',
 'Solo: A Star Wars Story',
 'does not include re-re',
 '',
 'sney (Live-Action Animations Reim',
 'The Jungle Book The Jungle Book',
 'The Jungle Book',
 '101 Dalmatians 101 Dalmatians',
 '102 Dalmatians',
 'lice in Wonderland Alice in Wonderland',
 'Alice Through the Looking Glass',
 'Maleficent  Maleficent',
 'Maleficent: Mistress of Evil',
 'z the Great and Powerful',
 'Cinderella',
 "ete's Dragon",
 'eauty and the Beast',
 'Dumbo',
 'Aladdin',
 'The Lion King',
 '',
 "K. Rowling Wizardry Harry Potter  Harry Potter and the Sorcerer's  Stone",
 'Harry Potter and the Chamber  of Secrets',
 'Harry Potter and the  Prisoner of Azkaban',
 'Harry Potter and  the Goblet of Fire',
 'Harry Potter  and the Order of the Phoenix',
 'Harry  Potter and the Half-Blood Prince',
 'Harry  Potter and the Deathly Hallows, Part  1',
 'Harry  Potter and the Deathly Hallows, Part  2',
 'Fantastic Beasts Fantastic Beasts and Where to Find  Them',
 'Fantastic Beasts: The Crimes of Grindelwald ',
 '',
 "engers  (see Marvel's Cinematic Un",
 "Marvel's The Avengers",
 'Avengers: Age of Ultron',
 'Avengers: Infinity War',
 'Avengers: Endgame',
 '',
 'ider-Man Spider-Man (Sam',
 'pider-Man',
 'Spider-Man 2',
 'Spider-Man 3',
 'Spider-Man (Mar',
 'he Amazing Spider-Man',
 'he Amazing Spider-Man  2',
 "Spider-Man  (see Marvel's Cinematic  Un",
 'Spider-Man:  Homecoming',
 'pider-Man: Far From Home ',
 'pider-Verse  (An',
 'pider-Man: Into the Spider-Verse ',
 '',
 'Men  X-Men (Original ',
 '-Men',
 'X2: X-Men United',
 'X-Men: The Last Stand',
 'X-Men: First Class',
 'X-Men: Days of Future Past',
 'X-Men: Apocalypse',
 '-Men (Wolverine & Phoenix Spi',
 '-Men Origins: Wolverine',
 'The Wolverine',
 'Logan',
 'X-Men Dark Phoenix',
 '-Men (Deadpool Spi',
 'eadpool',
 'Deadpool 2',
 '',
 'tman  Batman (Early',
 'atman: The Movie',
 'Batman (Burton/Schu',
 'atman',
 'Batman Returns',
 'Batman Forever',
 'Batman & Robin',
 'Batman (An',
 'atman: Mask of the Phantasm',
 'atman: The Killing Joke',
 'The LEGO Batman Movie',
 'atman (The Dark Knight T',
 'atman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 'Batman  (see DC  Extended Un',
 'Batman v Superman: Dawn  of Justice',
 '',
 ' Extended  Universe  Man of Steel ',
 'Batman v Superman:  Dawn of Justice',
 'Suicide Squad',
 'Wonder Woman',
 'Justice League',
 'Aquaman',
 'Shazam!',
 'Birds of Prey: And the Fantabulous Emancipation of One Harley  Quinn',
 '',
 'mes Bond (',
 'r. No',
 'From Russia With Love',
 'Goldfinger',
 'Thunderball',
 'You Only Live Twice',
 "On Her Majesty's Secret Service",
 'Diamonds Are Forever',
 'Live and Let Die',
 'The Man with the Golden Gun',
 'The Spy Who Loved Me',
 'Moonraker',
 'For Your Eyes Only',
 'Octopussy',
 'A View to a Kill',
 'The Living Daylights',
 'Licence to Kill',
 'GoldenEye',
 'Tomorrow Never Dies',
 'The World is Not Enough',
 'Die Another Day',
 'Casino Royale',
 'Quantum of Solace, 007',
 'Skyfall',
 'pectre',
 'o Time to Die',
 '',
 'on-Canon Films: Casino Royale',
 'ever Say Never Again',
 '',
 '',
 'rassic Park  Jurassic Park Jurassic Park',
 'The Lost World: Jurassic Park',
 'Jurassic Park III',
 'Sequel Trilogy Jurassic World',
 'Jurassic World: Fallen Kingdom',
 '',
 'ddle Earth  The Lord of the Rings The Lord of the Rings: The  Fellowship of the Ring',
 'The Lord of the  Rings: The Two Towers',
 'The Lord of  the Rings: The Return of the King',
 'The Hobbit The Hobbit: An Unexpected Journey ',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'st and the Furious  The Fast and the Furious',
 '2 Fast 2 Furious',
 'The Fast and the Furious: Tokyo Drift',
 'Fast & Furious',
 'Fast Five',
 'Fast & Furious 6',
 'Fast & Furious 7',
 'aka Fur',
 'The Fate of the Furious',
 'Fast & Furious Presents: Hobbs & Shaw',
 '',
 'ansformers  Transformers: The Movie',
 'Transformers',
 'Transformers: Revenge of the Fallen',
 'Transformers: Dark of the Moon',
 'Transformers: Age of Extinction',
 'Transformers: The Last Knight',
 'Bumblebee',
 '',
 'rates of the Caribbean  Pirates of the Caribbean:  The Curse of the Black Pearl',
 "Pirates of the Caribbean:  Dead Man's Chest",
 "Pirates of the  Caribbean: At World's End",
 'Pirates of  the Caribbean: On Stranger Tides',
 'Pirates  of the Caribbean: Dead Men Tell No Tales',
 '',
 'e Hunger Games  The Hunger Games',
 'The Hunger Games: Catching Fire',
 'The Hunger Games: Mockingjay - Part 1',
 'The Hunger Games: Mockingjay - Part 2',
 '',
 'rek (Original and S',
 'hrek',
 'Shrek 2',
 'Shrek the Third',
 'Shrek Forever After',
 'Shrek (Sp',
 'uss in Boots',
 '',
 'ar Trek Star Trek (Or',
 'tar Trek: The Motion Picture',
 'Star Trek II: The Wrath of Khan',
 'Star Trek III: The Search for Spock ',
 'Star Trek IV: The Voyage Home ',
 'Star Trek V: The Final  Frontier',
 'Star Trek VI: The  Undiscovered Country',
 'Star Trek (Next Gene',
 'Star Trek: Generations ',
 'Star Trek: First  Contact',
 'Star Trek: Insurrection ',
 'Star Trek Nemesis ',
 'Star Trek (',
 'Star Trek',
 'Star Trek Into Darkness ',
 'tar  Trek Beyond',
 '',
 'ilight Saga  Twilight',
 'The Twilight Saga: New Moon',
 'The Twilight Saga: Eclipse',
 'The Twilight Saga: Breaking Dawn, Part 1',
 'The Twilight Saga: Breaking Dawn, Part 2',
 '',
 'y Story  (see Pixar-',
 'oy Story',
 'Toy Story 2',
 'Toy Story 3',
 'Toy Story 4',
 '',
 'spicable Me  Despicable Me  Despicable Me',
 'Despicable Me 2',
 'Despicable Me 3',
 'inions  Minions',
 '',
 'e Dark Knight Trilogy (see ',
 'Batman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 '',
 'ssion: Impossible  Mission: Impossible',
 'Mission: Impossible II',
 'Mission: Impossible III',
 'Mission: Impossible - Ghost  Protocol',
 'Mission: Impossible - Rogue Nation',
 'Mission: Impossible - Fallout',
 '',
 'perman  Superman (Or',
 'uperman',
 'Superman II',
 'Superman III',
 'Superman IV: The Quest for Peace ',
 'Superman (Homage ',
 'uperman Returns',
 'Superman (see DC Extended  Un',
 'an of Steel',
 'Batman v Superman:  Dawn of Justice',
 '',
 "on Man (see Marvel's Cinematic Un",
 'ron Man',
 'Iron Man 2',
 'Iron Man 3',
 '',
 'e Lord of the Rings Trilogy (see Middle',
 'The Lord of the Rings',
 '(Not Included in ',
 'he Lord of the Rings:  The Fellowship of the Ring',
 'The Lord of the Rings:  The Two Towers',
 'The Lord of the Rings:  The Return of the King',
 '',
 'diana Jones  Raiders of the Lost Ark',
 'Indiana Jones and the Temple of  Doom',
 'Indiana Jones and the Last  Crusade',
 'Indiana Jones and the Kingdom  of the Crystal Skull',
 '',
 "ptain America  (see Marvel's  Cinematic Un",
 'Captain America: The First Avenger',
 'aptain America: The Winter Soldier',
 'aptain America: Civil War',
 '',
 'manji  Jumanji',
 'Jumanji: Welcome to the Jungle',
 'Jumanji: The Next Level',
 '',
 'e Hobbit (see The Lord of the',
 'he  Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'urne  The Bourne Identity',
 'The Bourne Supremacy',
 'The Bourne Ultimatum',
 'The Bourne Legacy',
 'ason Bourne',
 '',
 'anet of the Apes  Planet of the Apes (Or',
 'lanet of the Apes',
 'Beneath the Planet of the Apes ',
 'Escape from the Planet  of the Apes',
 'Conquest of the Planet  of the Apes',
 'Battle for the  Planet of the Apes',
 'Planet of the Apes (',
 'lanet  of the Apes',
 'Planet of the Apes (',
 'ise  of the Planet of the Apes',
 'awn  of the Planet of the Apes',
 'War  for the Planet of the Apes',
 '',
 'e Age  Ice Age',
 'Ice Age: The Meltdown',
 'Ice Age 3: Dawn of the Dinosaurs',
 'ce Age: Continental Drift',
 'ce Age: Collision Course',
 '',
 'cky  Rocky',
 'Rocky II',
 'Rocky III',
 'Rocky IV',
 'Rocky V',
 'Rocky Balboa',
 'reed',
 'Creed II',
 '']

In [40]:
len(all_pages)

NameError: name 'all_pages' is not defined

In [112]:
def franchise_tf(movie):
    output = []
    for movie in page1:
        sep= '('
        stripped = movie.split(sep, 1)[0]
        output.append(stripped)
    return output
        
#         if any(movie in s for s in page1):
#             return True
#         else:
#             return False
franchise_tf(page1) 
# if any("abc" in s for s in all_pages):
# text = 'MyMovie (1998)'
# sep = '('
# stripped = text.split(sep, 1)[0]
# print(stripped)

['eatest Film Series Franchises  ',
 '',
 'dividual Films in Franchise  ',
 '',
 "rvel's Cinematic  Universe  Iron Man",
 'The Incredible Hulk',
 'Iron Man 2',
 'Thor',
 'Captain America: The First Avenger',
 "Marvel's The Avengers",
 'Iron Man 3',
 'hor: The Dark World',
 'aptain America: The Winter Soldier',
 'Guardians of the Galaxy',
 'Avengers: Age of Ultron',
 'Ant-Man',
 'Captain America: Civil War',
 'Doctor Strange',
 'Guardians of the Galaxy Vol. 2',
 'Spider-Man: Homecoming',
 'Thor: Ragnarok',
 'Black Panther',
 'Avengers: Infinity War',
 'Ant-Man and the Wasp',
 'Captain Marvel',
 'Avengers: Endgame',
 'Spider-Man: Far from Home',
 '',
 'xar-Disney Animations *  Toy Story',
 "A Bug's Life",
 'Toy Story 2',
 'Monsters, Inc.',
 'Finding Nemo',
 'The Incredibles',
 'Cars',
 'Ratatouille',
 'WALL-E',
 'Up',
 'Toy Story 3',
 'Cars 2',
 'Brave',
 'Monsters University',
 'Inside Out',
 'The Good Dinosaur',
 'Finding Dory',
 'Cars 3',
 'Coco',
 'Incredibles 2',
 'Toy Story 4',
 'Onward',
 'Soul',
 '',
 '',
 'ar Wars  ',
 'tar Wars: ',
 'tar Wars: Episode IV -  A New Hope',
 'Star Wars: Episode V - The  Empire Strikes Back',
 'Star Wars: Episode VI - Return  of the Jedi',
 'Star Wars: ',
 'tar Wars: Episode I - The Phantom  Menace',
 'Star Wars: Episode II - Attack  of the Clones',
 'Star Wars: Episode III - Revenge  of the Sith',
 'Star Wars: ',
 'tar Wars: Episode VII  - The Force Awakens',
 'Star Wars: Episode VIII -  The Last Jedi',
 'Star Wars: Episode IX - The Rise of Skywalker',
 'tar Wars: ',
 'tar Wars: The Clone Wars',
 'Rogue One: A Star Wars Story ',
 'Solo: A Star Wars Story',
 'does not include re-re',
 '',
 'sney ',
 'The Jungle Book The Jungle Book',
 'The Jungle Book',
 '101 Dalmatians 101 Dalmatians',
 '102 Dalmatians',
 'lice in Wonderland Alice in Wonderland',
 'Alice Through the Looking Glass',
 'Maleficent  Maleficent',
 'Maleficent: Mistress of Evil',
 'z the Great and Powerful',
 'Cinderella',
 "ete's Dragon",
 'eauty and the Beast',
 'Dumbo',
 'Aladdin',
 'The Lion King',
 '',
 "K. Rowling Wizardry Harry Potter  Harry Potter and the Sorcerer's  Stone",
 'Harry Potter and the Chamber  of Secrets',
 'Harry Potter and the  Prisoner of Azkaban',
 'Harry Potter and  the Goblet of Fire',
 'Harry Potter  and the Order of the Phoenix',
 'Harry  Potter and the Half-Blood Prince',
 'Harry  Potter and the Deathly Hallows, Part  1',
 'Harry  Potter and the Deathly Hallows, Part  2',
 'Fantastic Beasts Fantastic Beasts and Where to Find  Them',
 'Fantastic Beasts: The Crimes of Grindelwald ',
 '',
 'engers  ',
 "Marvel's The Avengers",
 'Avengers: Age of Ultron',
 'Avengers: Infinity War',
 'Avengers: Endgame',
 '',
 'ider-Man Spider-Man ',
 'pider-Man',
 'Spider-Man 2',
 'Spider-Man 3',
 'Spider-Man ',
 'he Amazing Spider-Man',
 'he Amazing Spider-Man  2',
 'Spider-Man  ',
 'Spider-Man:  Homecoming',
 'pider-Man: Far From Home ',
 'pider-Verse  ',
 'pider-Man: Into the Spider-Verse ',
 '',
 'Men  X-Men ',
 '-Men',
 'X2: X-Men United',
 'X-Men: The Last Stand',
 'X-Men: First Class',
 'X-Men: Days of Future Past',
 'X-Men: Apocalypse',
 '-Men ',
 '-Men Origins: Wolverine',
 'The Wolverine',
 'Logan',
 'X-Men Dark Phoenix',
 '-Men ',
 'eadpool',
 'Deadpool 2',
 '',
 'tman  Batman ',
 'atman: The Movie',
 'Batman ',
 'atman',
 'Batman Returns',
 'Batman Forever',
 'Batman & Robin',
 'Batman ',
 'atman: Mask of the Phantasm',
 'atman: The Killing Joke',
 'The LEGO Batman Movie',
 'atman ',
 'atman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 'Batman  ',
 'Batman v Superman: Dawn  of Justice',
 '',
 ' Extended  Universe  Man of Steel ',
 'Batman v Superman:  Dawn of Justice',
 'Suicide Squad',
 'Wonder Woman',
 'Justice League',
 'Aquaman',
 'Shazam!',
 'Birds of Prey: And the Fantabulous Emancipation of One Harley  Quinn',
 '',
 'mes Bond ',
 'r. No',
 'From Russia With Love',
 'Goldfinger',
 'Thunderball',
 'You Only Live Twice',
 "On Her Majesty's Secret Service",
 'Diamonds Are Forever',
 'Live and Let Die',
 'The Man with the Golden Gun',
 'The Spy Who Loved Me',
 'Moonraker',
 'For Your Eyes Only',
 'Octopussy',
 'A View to a Kill',
 'The Living Daylights',
 'Licence to Kill',
 'GoldenEye',
 'Tomorrow Never Dies',
 'The World is Not Enough',
 'Die Another Day',
 'Casino Royale',
 'Quantum of Solace, 007',
 'Skyfall',
 'pectre',
 'o Time to Die',
 '',
 'on-Canon Films: Casino Royale',
 'ever Say Never Again',
 '',
 '',
 'rassic Park  Jurassic Park Jurassic Park',
 'The Lost World: Jurassic Park',
 'Jurassic Park III',
 'Sequel Trilogy Jurassic World',
 'Jurassic World: Fallen Kingdom',
 '',
 'ddle Earth  The Lord of the Rings The Lord of the Rings: The  Fellowship of the Ring',
 'The Lord of the  Rings: The Two Towers',
 'The Lord of  the Rings: The Return of the King',
 'The Hobbit The Hobbit: An Unexpected Journey ',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'st and the Furious  The Fast and the Furious',
 '2 Fast 2 Furious',
 'The Fast and the Furious: Tokyo Drift',
 'Fast & Furious',
 'Fast Five',
 'Fast & Furious 6',
 'Fast & Furious 7',
 'aka Fur',
 'The Fate of the Furious',
 'Fast & Furious Presents: Hobbs & Shaw',
 '',
 'ansformers  Transformers: The Movie',
 'Transformers',
 'Transformers: Revenge of the Fallen',
 'Transformers: Dark of the Moon',
 'Transformers: Age of Extinction',
 'Transformers: The Last Knight',
 'Bumblebee',
 '',
 'rates of the Caribbean  Pirates of the Caribbean:  The Curse of the Black Pearl',
 "Pirates of the Caribbean:  Dead Man's Chest",
 "Pirates of the  Caribbean: At World's End",
 'Pirates of  the Caribbean: On Stranger Tides',
 'Pirates  of the Caribbean: Dead Men Tell No Tales',
 '',
 'e Hunger Games  The Hunger Games',
 'The Hunger Games: Catching Fire',
 'The Hunger Games: Mockingjay - Part 1',
 'The Hunger Games: Mockingjay - Part 2',
 '',
 'rek ',
 'hrek',
 'Shrek 2',
 'Shrek the Third',
 'Shrek Forever After',
 'Shrek ',
 'uss in Boots',
 '',
 'ar Trek Star Trek ',
 'tar Trek: The Motion Picture',
 'Star Trek II: The Wrath of Khan',
 'Star Trek III: The Search for Spock ',
 'Star Trek IV: The Voyage Home ',
 'Star Trek V: The Final  Frontier',
 'Star Trek VI: The  Undiscovered Country',
 'Star Trek ',
 'Star Trek: Generations ',
 'Star Trek: First  Contact',
 'Star Trek: Insurrection ',
 'Star Trek Nemesis ',
 'Star Trek ',
 'Star Trek',
 'Star Trek Into Darkness ',
 'tar  Trek Beyond',
 '',
 'ilight Saga  Twilight',
 'The Twilight Saga: New Moon',
 'The Twilight Saga: Eclipse',
 'The Twilight Saga: Breaking Dawn, Part 1',
 'The Twilight Saga: Breaking Dawn, Part 2',
 '',
 'y Story  ',
 'oy Story',
 'Toy Story 2',
 'Toy Story 3',
 'Toy Story 4',
 '',
 'spicable Me  Despicable Me  Despicable Me',
 'Despicable Me 2',
 'Despicable Me 3',
 'inions  Minions',
 '',
 'e Dark Knight Trilogy ',
 'Batman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 '',
 'ssion: Impossible  Mission: Impossible',
 'Mission: Impossible II',
 'Mission: Impossible III',
 'Mission: Impossible - Ghost  Protocol',
 'Mission: Impossible - Rogue Nation',
 'Mission: Impossible - Fallout',
 '',
 'perman  Superman ',
 'uperman',
 'Superman II',
 'Superman III',
 'Superman IV: The Quest for Peace ',
 'Superman ',
 'uperman Returns',
 'Superman ',
 'an of Steel',
 'Batman v Superman:  Dawn of Justice',
 '',
 'on Man ',
 'ron Man',
 'Iron Man 2',
 'Iron Man 3',
 '',
 'e Lord of the Rings Trilogy ',
 'The Lord of the Rings',
 '',
 'he Lord of the Rings:  The Fellowship of the Ring',
 'The Lord of the Rings:  The Two Towers',
 'The Lord of the Rings:  The Return of the King',
 '',
 'diana Jones  Raiders of the Lost Ark',
 'Indiana Jones and the Temple of  Doom',
 'Indiana Jones and the Last  Crusade',
 'Indiana Jones and the Kingdom  of the Crystal Skull',
 '',
 'ptain America  ',
 'Captain America: The First Avenger',
 'aptain America: The Winter Soldier',
 'aptain America: Civil War',
 '',
 'manji  Jumanji',
 'Jumanji: Welcome to the Jungle',
 'Jumanji: The Next Level',
 '',
 'e Hobbit ',
 'he  Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'urne  The Bourne Identity',
 'The Bourne Supremacy',
 'The Bourne Ultimatum',
 'The Bourne Legacy',
 'ason Bourne',
 '',
 'anet of the Apes  Planet of the Apes ',
 'lanet of the Apes',
 'Beneath the Planet of the Apes ',
 'Escape from the Planet  of the Apes',
 'Conquest of the Planet  of the Apes',
 'Battle for the  Planet of the Apes',
 'Planet of the Apes ',
 'lanet  of the Apes',
 'Planet of the Apes ',
 'ise  of the Planet of the Apes',
 'awn  of the Planet of the Apes',
 'War  for the Planet of the Apes',
 '',
 'e Age  Ice Age',
 'Ice Age: The Meltdown',
 'Ice Age 3: Dawn of the Dinosaurs',
 'ce Age: Continental Drift',
 'ce Age: Collision Course',
 '',
 'cky  Rocky',
 'Rocky II',
 'Rocky III',
 'Rocky IV',
 'Rocky V',
 'Rocky Balboa',
 'reed',
 'Creed II',
 '']

In [89]:
page1

['eatest Film Series Franchises  (part 1 of 4, above $750 million total revenue, in  descending',
 '',
 'dividual Films in Franchise  (if clickable, links to r',
 '',
 "rvel's Cinematic  Universe  Iron Man",
 'The Incredible Hulk',
 'Iron Man 2',
 'Thor',
 'Captain America: The First Avenger',
 "Marvel's The Avengers",
 'Iron Man 3',
 'hor: The Dark World',
 'aptain America: The Winter Soldier',
 'Guardians of the Galaxy',
 'Avengers: Age of Ultron',
 'Ant-Man',
 'Captain America: Civil War',
 'Doctor Strange',
 'Guardians of the Galaxy Vol. 2',
 'Spider-Man: Homecoming',
 'Thor: Ragnarok',
 'Black Panther',
 'Avengers: Infinity War',
 'Ant-Man and the Wasp',
 'Captain Marvel',
 'Avengers: Endgame',
 'Spider-Man: Far from Home',
 '',
 'xar-Disney Animations *  Toy Story',
 "A Bug's Life",
 'Toy Story 2',
 'Monsters, Inc.',
 'Finding Nemo',
 'The Incredibles',
 'Cars',
 'Ratatouille',
 'WALL-E',
 'Up',
 'Toy Story 3',
 'Cars 2',
 'Brave',
 'Monsters University',
 'Inside Out',
 'The Good Dinosaur',
 'Finding Dory',
 'Cars 3',
 'Coco',
 'Incredibles 2',
 'Toy Story 4',
 'Onward',
 'Soul',
 '(* Is it a brand and/or a fran',
 '',
 'ar Wars  (',
 'tar Wars: (Original T',
 'tar Wars: Episode IV -  A New Hope',
 'Star Wars: Episode V - The  Empire Strikes Back',
 'Star Wars: Episode VI - Return  of the Jedi',
 'Star Wars: (Prequel T',
 'tar Wars: Episode I - The Phantom  Menace',
 'Star Wars: Episode II - Attack  of the Clones',
 'Star Wars: Episode III - Revenge  of the Sith',
 'Star Wars: (Sequel T',
 'tar Wars: Episode VII  - The Force Awakens',
 'Star Wars: Episode VIII -  The Last Jedi',
 'Star Wars: Episode IX - The Rise of Skywalker',
 'tar Wars: (Anthology Films and Spi',
 'tar Wars: The Clone Wars',
 'Rogue One: A Star Wars Story ',
 'Solo: A Star Wars Story',
 'does not include re-re',
 '',
 'sney (Live-Action Animations Reim',
 'The Jungle Book The Jungle Book',
 'The Jungle Book',
 '101 Dalmatians 101 Dalmatians',
 '102 Dalmatians',
 'lice in Wonderland Alice in Wonderland',
 'Alice Through the Looking Glass',
 'Maleficent  Maleficent',
 'Maleficent: Mistress of Evil',
 'z the Great and Powerful',
 'Cinderella',
 "ete's Dragon",
 'eauty and the Beast',
 'Dumbo',
 'Aladdin',
 'The Lion King',
 '',
 "K. Rowling Wizardry Harry Potter  Harry Potter and the Sorcerer's  Stone",
 'Harry Potter and the Chamber  of Secrets',
 'Harry Potter and the  Prisoner of Azkaban',
 'Harry Potter and  the Goblet of Fire',
 'Harry Potter  and the Order of the Phoenix',
 'Harry  Potter and the Half-Blood Prince',
 'Harry  Potter and the Deathly Hallows, Part  1',
 'Harry  Potter and the Deathly Hallows, Part  2',
 'Fantastic Beasts Fantastic Beasts and Where to Find  Them',
 'Fantastic Beasts: The Crimes of Grindelwald ',
 '',
 "engers  (see Marvel's Cinematic Un",
 "Marvel's The Avengers",
 'Avengers: Age of Ultron',
 'Avengers: Infinity War',
 'Avengers: Endgame',
 '',
 'ider-Man Spider-Man (Sam',
 'pider-Man',
 'Spider-Man 2',
 'Spider-Man 3',
 'Spider-Man (Mar',
 'he Amazing Spider-Man',
 'he Amazing Spider-Man  2',
 "Spider-Man  (see Marvel's Cinematic  Un",
 'Spider-Man:  Homecoming',
 'pider-Man: Far From Home ',
 'pider-Verse  (An',
 'pider-Man: Into the Spider-Verse ',
 '',
 'Men  X-Men (Original ',
 '-Men',
 'X2: X-Men United',
 'X-Men: The Last Stand',
 'X-Men: First Class',
 'X-Men: Days of Future Past',
 'X-Men: Apocalypse',
 '-Men (Wolverine & Phoenix Spi',
 '-Men Origins: Wolverine',
 'The Wolverine',
 'Logan',
 'X-Men Dark Phoenix',
 '-Men (Deadpool Spi',
 'eadpool',
 'Deadpool 2',
 '',
 'tman  Batman (Early',
 'atman: The Movie',
 'Batman (Burton/Schu',
 'atman',
 'Batman Returns',
 'Batman Forever',
 'Batman & Robin',
 'Batman (An',
 'atman: Mask of the Phantasm',
 'atman: The Killing Joke',
 'The LEGO Batman Movie',
 'atman (The Dark Knight T',
 'atman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 'Batman  (see DC  Extended Un',
 'Batman v Superman: Dawn  of Justice',
 '',
 ' Extended  Universe  Man of Steel ',
 'Batman v Superman:  Dawn of Justice',
 'Suicide Squad',
 'Wonder Woman',
 'Justice League',
 'Aquaman',
 'Shazam!',
 'Birds of Prey: And the Fantabulous Emancipation of One Harley  Quinn',
 '',
 'mes Bond (',
 'r. No',
 'From Russia With Love',
 'Goldfinger',
 'Thunderball',
 'You Only Live Twice',
 "On Her Majesty's Secret Service",
 'Diamonds Are Forever',
 'Live and Let Die',
 'The Man with the Golden Gun',
 'The Spy Who Loved Me',
 'Moonraker',
 'For Your Eyes Only',
 'Octopussy',
 'A View to a Kill',
 'The Living Daylights',
 'Licence to Kill',
 'GoldenEye',
 'Tomorrow Never Dies',
 'The World is Not Enough',
 'Die Another Day',
 'Casino Royale',
 'Quantum of Solace, 007',
 'Skyfall',
 'pectre',
 'o Time to Die',
 '',
 'on-Canon Films: Casino Royale',
 'ever Say Never Again',
 '',
 '',
 'rassic Park  Jurassic Park Jurassic Park',
 'The Lost World: Jurassic Park',
 'Jurassic Park III',
 'Sequel Trilogy Jurassic World',
 'Jurassic World: Fallen Kingdom',
 '',
 'ddle Earth  The Lord of the Rings The Lord of the Rings: The  Fellowship of the Ring',
 'The Lord of the  Rings: The Two Towers',
 'The Lord of  the Rings: The Return of the King',
 'The Hobbit The Hobbit: An Unexpected Journey ',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'st and the Furious  The Fast and the Furious',
 '2 Fast 2 Furious',
 'The Fast and the Furious: Tokyo Drift',
 'Fast & Furious',
 'Fast Five',
 'Fast & Furious 6',
 'Fast & Furious 7',
 'aka Fur',
 'The Fate of the Furious',
 'Fast & Furious Presents: Hobbs & Shaw',
 '',
 'ansformers  Transformers: The Movie',
 'Transformers',
 'Transformers: Revenge of the Fallen',
 'Transformers: Dark of the Moon',
 'Transformers: Age of Extinction',
 'Transformers: The Last Knight',
 'Bumblebee',
 '',
 'rates of the Caribbean  Pirates of the Caribbean:  The Curse of the Black Pearl',
 "Pirates of the Caribbean:  Dead Man's Chest",
 "Pirates of the  Caribbean: At World's End",
 'Pirates of  the Caribbean: On Stranger Tides',
 'Pirates  of the Caribbean: Dead Men Tell No Tales',
 '',
 'e Hunger Games  The Hunger Games',
 'The Hunger Games: Catching Fire',
 'The Hunger Games: Mockingjay - Part 1',
 'The Hunger Games: Mockingjay - Part 2',
 '',
 'rek (Original and S',
 'hrek',
 'Shrek 2',
 'Shrek the Third',
 'Shrek Forever After',
 'Shrek (Sp',
 'uss in Boots',
 '',
 'ar Trek Star Trek (Or',
 'tar Trek: The Motion Picture',
 'Star Trek II: The Wrath of Khan',
 'Star Trek III: The Search for Spock ',
 'Star Trek IV: The Voyage Home ',
 'Star Trek V: The Final  Frontier',
 'Star Trek VI: The  Undiscovered Country',
 'Star Trek (Next Gene',
 'Star Trek: Generations ',
 'Star Trek: First  Contact',
 'Star Trek: Insurrection ',
 'Star Trek Nemesis ',
 'Star Trek (',
 'Star Trek',
 'Star Trek Into Darkness ',
 'tar  Trek Beyond',
 '',
 'ilight Saga  Twilight',
 'The Twilight Saga: New Moon',
 'The Twilight Saga: Eclipse',
 'The Twilight Saga: Breaking Dawn, Part 1',
 'The Twilight Saga: Breaking Dawn, Part 2',
 '',
 'y Story  (see Pixar-',
 'oy Story',
 'Toy Story 2',
 'Toy Story 3',
 'Toy Story 4',
 '',
 'spicable Me  Despicable Me  Despicable Me',
 'Despicable Me 2',
 'Despicable Me 3',
 'inions  Minions',
 '',
 'e Dark Knight Trilogy (see ',
 'Batman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 '',
 'ssion: Impossible  Mission: Impossible',
 'Mission: Impossible II',
 'Mission: Impossible III',
 'Mission: Impossible - Ghost  Protocol',
 'Mission: Impossible - Rogue Nation',
 'Mission: Impossible - Fallout',
 '',
 'perman  Superman (Or',
 'uperman',
 'Superman II',
 'Superman III',
 'Superman IV: The Quest for Peace ',
 'Superman (Homage ',
 'uperman Returns',
 'Superman (see DC Extended  Un',
 'an of Steel',
 'Batman v Superman:  Dawn of Justice',
 '',
 "on Man (see Marvel's Cinematic Un",
 'ron Man',
 'Iron Man 2',
 'Iron Man 3',
 '',
 'e Lord of the Rings Trilogy (see Middle',
 'The Lord of the Rings',
 '(Not Included in ',
 'he Lord of the Rings:  The Fellowship of the Ring',
 'The Lord of the Rings:  The Two Towers',
 'The Lord of the Rings:  The Return of the King',
 '',
 'diana Jones  Raiders of the Lost Ark',
 'Indiana Jones and the Temple of  Doom',
 'Indiana Jones and the Last  Crusade',
 'Indiana Jones and the Kingdom  of the Crystal Skull',
 '',
 "ptain America  (see Marvel's  Cinematic Un",
 'Captain America: The First Avenger',
 'aptain America: The Winter Soldier',
 'aptain America: Civil War',
 '',
 'manji  Jumanji',
 'Jumanji: Welcome to the Jungle',
 'Jumanji: The Next Level',
 '',
 'e Hobbit (see The Lord of the',
 'he  Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'urne  The Bourne Identity',
 'The Bourne Supremacy',
 'The Bourne Ultimatum',
 'The Bourne Legacy',
 'ason Bourne',
 '',
 'anet of the Apes  Planet of the Apes (Or',
 'lanet of the Apes',
 'Beneath the Planet of the Apes ',
 'Escape from the Planet  of the Apes',
 'Conquest of the Planet  of the Apes',
 'Battle for the  Planet of the Apes',
 'Planet of the Apes (',
 'lanet  of the Apes',
 'Planet of the Apes (',
 'ise  of the Planet of the Apes',
 'awn  of the Planet of the Apes',
 'War  for the Planet of the Apes',
 '',
 'e Age  Ice Age',
 'Ice Age: The Meltdown',
 'Ice Age 3: Dawn of the Dinosaurs',
 'ce Age: Continental Drift',
 'ce Age: Collision Course',
 '',
 'cky  Rocky',
 'Rocky II',
 'Rocky III',
 'Rocky IV',
 'Rocky V',
 'Rocky Balboa',
 'reed',
 'Creed II',
 '']

In [96]:
franchise_tf('Star Wars: The Clone Wars')

False

In [47]:
franchise_tf('Dark Phoenix')

NameError: name 'all_pages' is not defined

In [ ]:
tn_movie_budgets.head()

In [ ]:
tn_movie_budgets2 = tn_movie_budgets.copy()

In [ ]:
tn_movie_budgets2['is_franchise'] = tn_movie_budgets2['movie'].map(franchise_tf)

In [ ]:
tn_movie_budgets2.loc[tn_movie_budgets2['is_franchise']==True]

In [ ]:
tn_movie_budgets2['year'] = tn_movie_budgets2['release_date'].map(lambda x:x[-4:])

In [ ]:
col_to_int(tn_movie_budgets2, 'production_budget')

In [ ]:
col_to_int(tn_movie_budgets2, 'domestic_gross')

In [ ]:
col_to_int(tn_movie_budgets2, 'worldwide_gross')

In [ ]:
tn_movie_budgets2['year'] = tn_movie_budgets2['year'].astype('int')

In [ ]:
tn_movie_budgets2.info()

In [ ]:
tn_movie_budgets2 = tn_movie_budgets2.loc[(tn_movie_budgets2['production_budget'] > 20000000) & (tn_movie_budgets2['year'] >= 2010)]

In [ ]:
tn_movie_budgets2.is_franchise.sum()

In [ ]:

ax = sns.lmplot(data=tn_movie_budgets2, x='production_budget', y='worldwide_gross', hue='is_franchise')

In [26]:
df1 = df1.dropna()

In [38]:
df1 = df1.drop([0,1])

KeyError: '[0 1] not found in axis'

In [39]:
pagetest = franchise_splitter(df1, 'series_list')

KeyError: 0

In [30]:
pagetest

['eatest Film Series Franchises  (part 1 of 4, above $750 million total revenue, in  descending',
 '',
 'dividual Films in Franchise  (if clickable, links to r',
 '',
 "rvel's Cinematic  Universe  Iron Man",
 'The Incredible Hulk',
 'Iron Man 2',
 'Thor',
 'Captain America: The First Avenger',
 "Marvel's The Avengers",
 'Iron Man 3',
 'hor: The Dark World',
 'aptain America: The Winter Soldier',
 'Guardians of the Galaxy',
 'Avengers: Age of Ultron',
 'Ant-Man',
 'Captain America: Civil War',
 'Doctor Strange',
 'Guardians of the Galaxy Vol. 2',
 'Spider-Man: Homecoming',
 'Thor: Ragnarok',
 'Black Panther',
 'Avengers: Infinity War',
 'Ant-Man and the Wasp',
 'Captain Marvel',
 'Avengers: Endgame',
 'Spider-Man: Far from Home',
 '',
 'xar-Disney Animations *  Toy Story',
 "A Bug's Life",
 'Toy Story 2',
 'Monsters, Inc.',
 'Finding Nemo',
 'The Incredibles',
 'Cars',
 'Ratatouille',
 'WALL-E',
 'Up',
 'Toy Story 3',
 'Cars 2',
 'Brave',
 'Monsters University',
 'Inside Out',
 'The Good Dinosaur',
 'Finding Dory',
 'Cars 3',
 'Coco',
 'Incredibles 2',
 'Toy Story 4',
 'Onward',
 'Soul',
 '(* Is it a brand and/or a fran',
 '',
 'ar Wars  (',
 'tar Wars: (Original T',
 'tar Wars: Episode IV -  A New Hope',
 'Star Wars: Episode V - The  Empire Strikes Back',
 'Star Wars: Episode VI - Return  of the Jedi',
 'Star Wars: (Prequel T',
 'tar Wars: Episode I - The Phantom  Menace',
 'Star Wars: Episode II - Attack  of the Clones',
 'Star Wars: Episode III - Revenge  of the Sith',
 'Star Wars: (Sequel T',
 'tar Wars: Episode VII  - The Force Awakens',
 'Star Wars: Episode VIII -  The Last Jedi',
 'Star Wars: Episode IX - The Rise of Skywalker',
 'tar Wars: (Anthology Films and Spi',
 'tar Wars: The Clone Wars',
 'Rogue One: A Star Wars Story ',
 'Solo: A Star Wars Story',
 'does not include re-re',
 '',
 'sney (Live-Action Animations Reim',
 'The Jungle Book The Jungle Book',
 'The Jungle Book',
 '101 Dalmatians 101 Dalmatians',
 '102 Dalmatians',
 'lice in Wonderland Alice in Wonderland',
 'Alice Through the Looking Glass',
 'Maleficent  Maleficent',
 'Maleficent: Mistress of Evil',
 'z the Great and Powerful',
 'Cinderella',
 "ete's Dragon",
 'eauty and the Beast',
 'Dumbo',
 'Aladdin',
 'The Lion King',
 '',
 "K. Rowling Wizardry Harry Potter  Harry Potter and the Sorcerer's  Stone",
 'Harry Potter and the Chamber  of Secrets',
 'Harry Potter and the  Prisoner of Azkaban',
 'Harry Potter and  the Goblet of Fire',
 'Harry Potter  and the Order of the Phoenix',
 'Harry  Potter and the Half-Blood Prince',
 'Harry  Potter and the Deathly Hallows, Part  1',
 'Harry  Potter and the Deathly Hallows, Part  2',
 'Fantastic Beasts Fantastic Beasts and Where to Find  Them',
 'Fantastic Beasts: The Crimes of Grindelwald ',
 '',
 "engers  (see Marvel's Cinematic Un",
 "Marvel's The Avengers",
 'Avengers: Age of Ultron',
 'Avengers: Infinity War',
 'Avengers: Endgame',
 '',
 'ider-Man Spider-Man (Sam',
 'pider-Man',
 'Spider-Man 2',
 'Spider-Man 3',
 'Spider-Man (Mar',
 'he Amazing Spider-Man',
 'he Amazing Spider-Man  2',
 "Spider-Man  (see Marvel's Cinematic  Un",
 'Spider-Man:  Homecoming',
 'pider-Man: Far From Home ',
 'pider-Verse  (An',
 'pider-Man: Into the Spider-Verse ',
 '',
 'Men  X-Men (Original ',
 '-Men',
 'X2: X-Men United',
 'X-Men: The Last Stand',
 'X-Men: First Class',
 'X-Men: Days of Future Past',
 'X-Men: Apocalypse',
 '-Men (Wolverine & Phoenix Spi',
 '-Men Origins: Wolverine',
 'The Wolverine',
 'Logan',
 'X-Men Dark Phoenix',
 '-Men (Deadpool Spi',
 'eadpool',
 'Deadpool 2',
 '',
 'tman  Batman (Early',
 'atman: The Movie',
 'Batman (Burton/Schu',
 'atman',
 'Batman Returns',
 'Batman Forever',
 'Batman & Robin',
 'Batman (An',
 'atman: Mask of the Phantasm',
 'atman: The Killing Joke',
 'The LEGO Batman Movie',
 'atman (The Dark Knight T',
 'atman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 'Batman  (see DC  Extended Un',
 'Batman v Superman: Dawn  of Justice',
 '',
 ' Extended  Universe  Man of Steel ',
 'Batman v Superman:  Dawn of Justice',
 'Suicide Squad',
 'Wonder Woman',
 'Justice League',
 'Aquaman',
 'Shazam!',
 'Birds of Prey: And the Fantabulous Emancipation of One Harley  Quinn',
 '',
 'mes Bond (',
 'r. No',
 'From Russia With Love',
 'Goldfinger',
 'Thunderball',
 'You Only Live Twice',
 "On Her Majesty's Secret Service",
 'Diamonds Are Forever',
 'Live and Let Die',
 'The Man with the Golden Gun',
 'The Spy Who Loved Me',
 'Moonraker',
 'For Your Eyes Only',
 'Octopussy',
 'A View to a Kill',
 'The Living Daylights',
 'Licence to Kill',
 'GoldenEye',
 'Tomorrow Never Dies',
 'The World is Not Enough',
 'Die Another Day',
 'Casino Royale',
 'Quantum of Solace, 007',
 'Skyfall',
 'pectre',
 'o Time to Die',
 '',
 'on-Canon Films: Casino Royale',
 'ever Say Never Again',
 '',
 '',
 'rassic Park  Jurassic Park Jurassic Park',
 'The Lost World: Jurassic Park',
 'Jurassic Park III',
 'Sequel Trilogy Jurassic World',
 'Jurassic World: Fallen Kingdom',
 '',
 'ddle Earth  The Lord of the Rings The Lord of the Rings: The  Fellowship of the Ring',
 'The Lord of the  Rings: The Two Towers',
 'The Lord of  the Rings: The Return of the King',
 'The Hobbit The Hobbit: An Unexpected Journey ',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'st and the Furious  The Fast and the Furious',
 '2 Fast 2 Furious',
 'The Fast and the Furious: Tokyo Drift',
 'Fast & Furious',
 'Fast Five',
 'Fast & Furious 6',
 'Fast & Furious 7',
 'aka Fur',
 'The Fate of the Furious',
 'Fast & Furious Presents: Hobbs & Shaw',
 '',
 'ansformers  Transformers: The Movie',
 'Transformers',
 'Transformers: Revenge of the Fallen',
 'Transformers: Dark of the Moon',
 'Transformers: Age of Extinction',
 'Transformers: The Last Knight',
 'Bumblebee',
 '',
 'rates of the Caribbean  Pirates of the Caribbean:  The Curse of the Black Pearl',
 "Pirates of the Caribbean:  Dead Man's Chest",
 "Pirates of the  Caribbean: At World's End",
 'Pirates of  the Caribbean: On Stranger Tides',
 'Pirates  of the Caribbean: Dead Men Tell No Tales',
 '',
 'e Hunger Games  The Hunger Games',
 'The Hunger Games: Catching Fire',
 'The Hunger Games: Mockingjay - Part 1',
 'The Hunger Games: Mockingjay - Part 2',
 '',
 'rek (Original and S',
 'hrek',
 'Shrek 2',
 'Shrek the Third',
 'Shrek Forever After',
 'Shrek (Sp',
 'uss in Boots',
 '',
 'ar Trek Star Trek (Or',
 'tar Trek: The Motion Picture',
 'Star Trek II: The Wrath of Khan',
 'Star Trek III: The Search for Spock ',
 'Star Trek IV: The Voyage Home ',
 'Star Trek V: The Final  Frontier',
 'Star Trek VI: The  Undiscovered Country',
 'Star Trek (Next Gene',
 'Star Trek: Generations ',
 'Star Trek: First  Contact',
 'Star Trek: Insurrection ',
 'Star Trek Nemesis ',
 'Star Trek (',
 'Star Trek',
 'Star Trek Into Darkness ',
 'tar  Trek Beyond',
 '',
 'ilight Saga  Twilight',
 'The Twilight Saga: New Moon',
 'The Twilight Saga: Eclipse',
 'The Twilight Saga: Breaking Dawn, Part 1',
 'The Twilight Saga: Breaking Dawn, Part 2',
 '',
 'y Story  (see Pixar-',
 'oy Story',
 'Toy Story 2',
 'Toy Story 3',
 'Toy Story 4',
 '',
 'spicable Me  Despicable Me  Despicable Me',
 'Despicable Me 2',
 'Despicable Me 3',
 'inions  Minions',
 '',
 'e Dark Knight Trilogy (see ',
 'Batman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 '',
 'ssion: Impossible  Mission: Impossible',
 'Mission: Impossible II',
 'Mission: Impossible III',
 'Mission: Impossible - Ghost  Protocol',
 'Mission: Impossible - Rogue Nation',
 'Mission: Impossible - Fallout',
 '',
 'perman  Superman (Or',
 'uperman',
 'Superman II',
 'Superman III',
 'Superman IV: The Quest for Peace ',
 'Superman (Homage ',
 'uperman Returns',
 'Superman (see DC Extended  Un',
 'an of Steel',
 'Batman v Superman:  Dawn of Justice',
 '',
 "on Man (see Marvel's Cinematic Un",
 'ron Man',
 'Iron Man 2',
 'Iron Man 3',
 '',
 'e Lord of the Rings Trilogy (see Middle',
 'The Lord of the Rings',
 '(Not Included in ',
 'he Lord of the Rings:  The Fellowship of the Ring',
 'The Lord of the Rings:  The Two Towers',
 'The Lord of the Rings:  The Return of the King',
 '',
 'diana Jones  Raiders of the Lost Ark',
 'Indiana Jones and the Temple of  Doom',
 'Indiana Jones and the Last  Crusade',
 'Indiana Jones and the Kingdom  of the Crystal Skull',
 '',
 "ptain America  (see Marvel's  Cinematic Un",
 'Captain America: The First Avenger',
 'aptain America: The Winter Soldier',
 'aptain America: Civil War',
 '',
 'manji  Jumanji',
 'Jumanji: Welcome to the Jungle',
 'Jumanji: The Next Level',
 '',
 'e Hobbit (see The Lord of the',
 'he  Hobbit: An Unexpected Journey',
 'The Hobbit: The Desolation  of Smaug',
 'he Hobbit:  The Battle of the Five Armies',
 '',
 'urne  The Bourne Identity',
 'The Bourne Supremacy',
 'The Bourne Ultimatum',
 'The Bourne Legacy',
 'ason Bourne',
 '',
 'anet of the Apes  Planet of the Apes (Or',
 'lanet of the Apes',
 'Beneath the Planet of the Apes ',
 'Escape from the Planet  of the Apes',
 'Conquest of the Planet  of the Apes',
 'Battle for the  Planet of the Apes',
 'Planet of the Apes (',
 'lanet  of the Apes',
 'Planet of the Apes (',
 'ise  of the Planet of the Apes',
 'awn  of the Planet of the Apes',
 'War  for the Planet of the Apes',
 '',
 'e Age  Ice Age',
 'Ice Age: The Meltdown',
 'Ice Age 3: Dawn of the Dinosaurs',
 'ce Age: Continental Drift',
 'ce Age: Collision Course',
 '',
 'cky  Rocky',
 'Rocky II',
 'Rocky III',
 'Rocky IV',
 'Rocky V',
 'Rocky Balboa',
 'reed',
 'Creed II',
 '']

In [97]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [100]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/Users/ethankunin/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')